<!DOCTYPE html>
<html>
<head>
    <title>Shreya Reddy Poreddy</title>
</head>
<body>
    <html>
        <head>
          <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='css/style.css'/>
        </head>
        <body>
          <nav>
            <header style="background-color: black;">
              <div class="container" >
                <ul class="nav" >
                  <li><a href="#home" style="text-decoration: none; color:#fff">Home</a></li>
                            <li><a href="#about"  style="text-decoration: none; color:#fff">About</a></li>
                  <li><a href="#hello"  style="text-decoration: none; color:#fff">My Tours</a></li>
                  <li><a href="/hobby"  style="text-decoration: none; color:#fff">My Hobbies</a></li>
                  <li><a href="/feedback"  style="text-decoration: none; color:#fff">Give Feedback</a></li>
                  <li><a href="/game"  style="text-decoration: none; color:#fff">Play Tictactoe</a></li>
                </ul>
              </div>
            </header>
          </nav>
          <style>
.typed{
            overflow: hidden; 
            border-right: .15em solid white; 
            white-space: nowrap; 
            margin: 0 auto; 
            letter-spacing: .15em; 
            animation: 
              typing 3.5s steps(50, end),
              blink-caret .75s step-end infinite;
          }
          
          @keyframes typing {
            from { width: 0 }
            to { width: 100% }
          }
  
          @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: white; }
          }
          </style>
          
      
          <div class="vans">
            <div class="container">  
              <article class="mannie">
                <h1 class="typed" style="color: #fff;">Hello, I am Shreya </h1>
                               
                <a href="#" class="btn-main" style="background-color: #fff; color: black;">Graduate Student in CS</a>
              </article>
            </div>
          </div>
      
          <section class="about-us" id="about" style="height: 90vh; margin-top: 30px; margin-bottom: 30px;">
            <div class="about">
              <fig><img src="img/s1.jpeg" class="pic" style="height:60vh;"></fig>
              
              <aside class="text">
                <h2>About Me</h2>
                <h5>Graduate Student in <span>SIU</span></h5>
                  <p>I am a dedicated Computer Science graduate student, specializing in artificial intelligence and machine learning. With a strong background in programming languages such as Python, Java, and C++, <cite>I am committed to exploring innovative solutions to intricate problems in data analysis and pattern recognition.</cite>
                     Their research interests lie at the convergence of computer vision and deep learning, focusing on developing algorithms for image classification and object detection. <h3><blockquote>I am motivated by a desire to contribute to technological advancements that positively impact society.</blockquote><q>I always strongly believe in myself</q></h3></p>
              
              </aside>
            </div>
          </section>
          <div class="cheya">
            <div class="cheya-container">
              <h1 style="text-align: center;">My Favourites</h1>
              <section id="My-Favourite">
             
                
                <div id="video-feed">
                  <h3 style="margin-bottom: 20px;font-size: 20px;"> Video</h3>
                  <video controls poster="/images/w3html5.gif" style="width:560px;height:315px;">
                    <source src="img/s22.mp4" type="video/mp4">
                  
                    Your browser does not support the video tag.
                    </video>
                </div>
                <div id="Audio-message">
                  <h3 style="margin-bottom: 20px;font-size: 20px;">Audio</h3>
                  <audio controls>
                    <source src="img/man1.mp3" type="audio/mp3">
          
                  </audio>
                </div>
            </section>
            </div>
           
         </div>
       
         <h2 class="text1">My Recent Trips</h2>
          <div class="flex-container" id="hello" style="padding: 20px;">
  
 <div class="image" style="padding: 30px;" >
  <a href="https://www.nutella.com/us/en/"> <img src="img/s2.jpeg" alt="image" ></a>
  <p style="padding: 5px; font-size: Medium; text-align: center;">Trip to nutella factory</p>
            </div>
          
         <div class="image" style="padding: 30px;">
          <a href="https://www.vacationsmadeeasy.com/NashvilleTN/activity/?msclkid=060fdb86dfc1121d9839be435818822e">  <img src="img/s3.jpeg" alt="image"></a>   
          <p style="padding: 5px; font-size: Medium; text-align: center;">Visit to Nashville</p>  
            </div>
          
       <div class="image" style="padding: 30px;">
        <a href="https://www.fs.usda.gov/recarea/shawnee/recreation/hiking/recarea/?recid=10685&actid=51"><img src="img/s9.jpeg" alt="image"></a>        
        <P style="padding: 5px; font-size: Medium; text-align: center;">Visit to Garden of Gods</P> 
            </div>
          
          <div class="image" style="padding: 30px;">
            <a href="https://www.ifishillinois.org/profiles/waterbody.php?waternum=00270"><img src="img/s8.jpeg" alt="image">                                </a> 
            <P style="padding: 5px; font-size: Medium; text-align: center;">Visit to Devils Kitchen Lake</P>
            </div>
            
           <div class="image" style="padding: 30px;">
            <a href="https://www.tripadvisor.com/Attraction_Products-g35805-d110078-360_Chicago_Observation_Deck-Chicago_Illinois.html"><img src="img/s4.jpeg" alt="image"></a> 
            <P style="padding: 5px; font-size: Medium; text-align: center;">Visit to Chicago 360</P>
            </div>
          
            <div class="image" style="padding: 30px;">
              <a href="https://www.olatheks.gov/government/parks-recreation/parks-trails-bike-lanes/parks/lake-olathe-park"><img src="img/s10.jpeg" alt="image"></a> 
              <P style="padding: 5px; font-size: Medium; text-align: center;">Visit to Olethe lake</P>
            </div>
          
          <div class="image" style="padding: 30px;">
            <a href="https://www.getyourguide.com/chicago-riverwalk-l145316/glacier-exploration-tc308/?cmp=bing&ad_id=78202963710337&adgroup_id=1251244854682616&bid_match_type=bb&campaign_id=434111532&device=c&feed_item_id=&keyword=getyourguide.com&loc_interest_ms=48792&loc_physical_ms=47566&match_type=b&msclkid=c3e95c82da9c1350799939475307833b&network=o&partner_id=CD951&target_id=dat-2330002578451843:loc-190&utm_adgroup=ct%3Ddsa%7Cfn%3Df1&utm_campaign=ct%3Ddsa%7Cln%3D29%3Aen%7Ctc%3Dus&utm_keyword=getyourguide.com&utm_medium=paid_search&utm_query=riverwalk%20chicago&utm_source=bing"> <img src="img/s6.jpeg" alt="image"></a> 
            <P style="padding: 5px; font-size: Medium; text-align: center;">Visit to River Walk, Chicago</P>
            </div>
          
            <div class="image" style="padding: 30px;">
             <a href="https://kansascityzoo.org/"><img src="img/s7.jpeg" alt="image"></a> 
             <P style="padding: 5px; font-size: Medium; text-align: center;">Visit to Kansas National Zoo</P>
            </div>
          </div>         
          <div class="containman" >
            <h1 style="text-align: center; color: #fff; padding: 30px;">My Schedule</h1>
           <section id="timesched" style="width:100%; display:flex; align-items:center; justify-content:center;">
            
             <table style="margin-bottom: 30px;">
             
               <tr>
               <th>Time</th>
               <th>Sunday</th>
               <th>Monday</th>
               <th>Thuesday</th>
               <th>Wednesday</th>
               <th>Thursday</th>
               <th>Friday</th>
               <th>Saturday</th>
               </tr>
               
     
                 <tr>
                   <td align="center">9:00am - 9:30am</td>
                   <td align="center">Breakfast</td>
                   <td align="center">Breakfast</td> 
                   <td align="center">Breakfast</td> 
                   <td align="center">Breakfast</td>
                   <td align="center">Breakfast</td>
                   <td align="center">Breakfast</td>
                   <td align="center">Breakfast</td>
                   </tr>
     
               
               <tr>
                 <td align="center">10:00am - 11:00am</td>
                 <td align="center">Exercise</td>
                 <td align="center">Class</td>
                 <td align="center">Exercise</td>
                 <td align="center">Class</td>
                 <td align="center">Exercise</td>
                 <td align="center">Class</td>
                 <td align="center">Exercise</td>
                 </tr>
                 <tr>
                   <td align="center">11:00am - 12:00pm</td>
                   <td align="center">Cooking</td>
                   <td align="center">Class</td>
                   <td align="center">Cooking</td>
                   <td align="center">Class</td>
                   <td align="center">Cooking</td>
                   <td align="center">Cooking</td>
                   <td align="center">Cooking</td>
                   </tr>
     
                   <tr>
                     <td align="center">12:00pm - 2:00pm</td>
                     <td align="center">Lunch</td>
                     <td align="center">Class</td>
                     <td align="center">Lunch</td>
                     <td align="center">Class</td>
                     <td align="center">Lunch</td>
                     <td align="center">Lunch</td>
                     <td align="center">Lunch</td>
                     </tr>
                   <tr>
                     <td align="center">2:00pm - 3:00pm</td>
                     <td align="center">Rest</td>
                     <td align="center">Class</td>
                     <td align="center">Part-time</td>
                     <td align="center">Class</td>
                     <td align="center">Part-time</td>
                     <td align="center">Class</td>
                     <td align="center">Rest</td>
                     </tr>
                   <tr>
                     <td align="center">3:00pm - 4:00pm</td>
                     <td align="center">Rest</td>
                     <td align="center">Study</td>
                     <td align="center">Part-time</td>
                     <td align="center">Class</td>
                     <td align="center">Part-time</td>
                     <td align="center">Class</td>
                     <td align="center">Rest</td>
                     </tr>
                   <tr>
                     <td align="center">4:00pm - 5:00pm</td>
                     <td align="center">Study</td>
                     <td align="center">Study</td>
                     <td align="center">Part-time</td>
                     <td align="center">Class</td>
                     <td align="center">Part-time</td>
                     <td align="center">Class</td>
                     <td align="center">Study</td>
                     </tr>
                   <tr>
                     <td align="center">5:00pm - 9:00pm</td>
                     <td align="center">Study</td>
                     <td align="center">Part-time</td>
                     <td align="center">Part-time</td>
                     <td align="center">Class</td>
                     <td align="center">Study</td>
                     <td align="center">Class</td>
                     <td align="center">Study</td>
                     </tr>
                   <tr>
                     <td align="center">9:00pm - 10:00pm</td>
                     <td align="center">Dinner</td>
                     <td align="center">Dinner</td>
                     <td align="center">Dinner</td>
                     <td align="center">Dinner</td>
                     <td align="center">Dinner</td>
                     <td align="center">Dinner</td>
                     <td align="center">Dinner</td>
                     </tr>

             </table>
           </section>
         </div>
         <style>
          .side{
            width: 80%;
            height: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: 50% 50%;
          }
        form {
          background-color: #fff;
        width: 80%;
        margin: auto;
          margin: 50px auto;
          padding: 30px 20px;
         
        }
    
       
        .shreya-control {
          text-align: left;
          margin-bottom: 25px;
        }
    
     
        .shreya-control label {
          display: block;
          margin-bottom: 10px;
        }
    
        
        .shreya-control input,
        .shreya-control select,
        .shreya-control textarea {
          border: 1px solid #777;
          border-radius: 2px;
          font-family: inherit;
          padding: 10px;
          display: block;
          width: 100%;
        }
    
        
        .shreya-control input[type="radio"],
        .shreya-control input[type="checkbox"] {
          display: inline-block;
          width: auto;
        }
    
       
        button {
          background-color: #000;
          border: 1px solid #777;
          color: #fff;
          border-radius: 2px;
          font-family: inherit;
          font-size: 21px;
          display: block;
          width: 100%;
          display: flex;
justify-content: center;
align-items: center;
          padding: 20px;
          margin-top: 50px;
          margin-bottom: 20px;
        }
      </style>
    </head>
  </header>
</div>
<style>
  .game{
    width: 100%;
    height: 30vh;
    background-color: black;
    color: #fff;
  }
  .game h2{
    text-align: center;
  
    
  }
  .game button{
    background: white;
    padding: 10px;
    border-radius: 50px;
  }
</style>
<h2 class="text1">Give Feedback</h2>
<script>
  function shreyafeedback(){
  var name=document.shreyaform.nam1.value;
  var name2=document.shreyaform.nam2.value;
  var name3=document.shreyaform.nam3.value;
  var name4=document.shreyaform.nam4.value;
  var name5=/^([a-zA-Z0-9\._]+)@([a-zA-Z0-9]+)\.([a-z]{2,8})?$/
debugger;
      if(name.length< 10)
      {
      alert("Please enter the valid phone number");
      return false;
      }
      else if(name2.length>40){
      alert("Please enter only 40 words");
      return false;
      }
      else if(!name4.match(name5)){
          alert("error in mail format");
          return false;
      }
      else{
      return emvalidate();
  }
 function emvalidate(){
alert("Thankyou for your response and Click ok to win exciting prices");
}
  }
      </script>
<head>
  <title>Shreya Reddy Poreddy</title>
</head>
<body>
  <html>
      <head>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
      <link rel='stylesheet' href='style.css'/>
       <script defer src="./script.js"></script>
      </head>
      <body>
        <style>
      
   
      .more {
        background-color: silver;
        padding: 1rem 2rem;
        text-align: center;
      }
        </style>
 
      
    </div>
   
    <div class="side">

   
    <div class="pic">

    </div>
    
    <form name="shreyaform" onsubmit="return shreyafeedback()" action="/gifts">
  
    
      <div class="shreya-control">
        <label for="name" id="label-name">
          Name
        </label>
  
        
        <input type="text"
           type="text"  name="nam2" pattern="[a-zA-Z]{3,}" title="Please enter only alphabets"
          placeholder="Enter your name" required/>
      </div>
  
      <div class="shreya-control">
        <label for="email" id="label-email">
          Email
        </label>
  
       
        <input type="email"
          name="nam4"
          placeholder="Enter your email" required/>
      </div>
  
      <div class="shreya-control">
        <label for="age" id="label-age">
          Phone Number
        </label>
  
       
        <input type="phone number" name="nam1" pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" title="Please enter only numbers"
          placeholder="Enter your Phone" required />
      </div>
      <div class="shreya-control">
        <label for="age" id="label-age">
          Address
        </label>
  
      
       <textarea cols="40" rows="5" name="nam3" required></textarea>
  </div>
        <div class="shreya-control">
        <label for="age" id="label-age">
          Feedback
        </label>
  
      
       <textarea cols="40" rows="5" name="nam3" required></textarea>
  </div>
    
  <button class="buttonn" type="submit" name="submit1" >Send</button>
    </form>
    
    </div>
    <style>
      .side{
        width: 80%;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
      }
      .pic{
        width: 100%;
        height: 85%;
        margin: auto;
        background-image: url("./s23.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
      }
    form {
      background-color: #fff;
    width: 80%;
    margin: auto;
      margin: 50px auto;
      padding: 30px 20px;
     
    }

   
    .shreya-control {
      text-align: left;
      margin-bottom: 25px;
    }

 
    .shreya-control label {
      display: block;
      margin-bottom: 10px;
    }

    
    .shreya-control input,
    .shreya-control select,
    .shreya-control textarea {
      border: 1px solid #777;
      border-radius: 2px;
      font-family: inherit;
      padding: 10px;
      display: block;
      width: 100%;
    }

    
    .shreya-control input[type="radio"],
    .shreya-control input[type="checkbox"] {
      display: inline-block;
      width: auto;
    }

   
    button {
      background-color: #000;
      border: 1px solid #777;
      color: #fff;
      border-radius: 2px;
      font-family: inherit;
      font-size: 21px;
      display: block;
      width: 100%;
      display: flex;
justify-content: center;
align-items: center;
      padding: 20px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
  </style>
<div class="game" style="text-align: center;">
  <h2 style="padding-top: 60px;">Wanna Play Tictactoe?</h2>
  <button style=" width:100px; margin: auto; margin-top:20px;"><a href="/game" style="text-decoration: none;">Play</a></button>
  </div>
          <footer class="footer" id="foot" style="margin-top: 30px; width: 100%;">
           <h3>CONTACT Me @  </h3> <p style="padding: 10px; font-size:larger"><b>shreyareddy.poreddy@siu.edu || +1 6189018306</b></p><p style="font-size: larger;"><b>407 W College Street Apt</b></p>
<blockquote style="padding: 10px; font-size:larger" cite="www.html.org">Made with HTML and CSS</blockquote>
      </footer>  
    </div>
    </body>
</html> 